/* *{
  font-size: 12px !important;
} */

.add-role-model-form .ant-form-item-label>label, .add-role-model-form .ant-input, .add-role-model-form .ant-btn > span {
  font-size: 12px;
}

.add-role-form .ant-form-item-label>label, .add-role-form .ant-input, .add-role-form .ant-btn > span {
  font-size: 12px;
}
.financing-repurchase-container{
  display: flex;
  flex:1;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  max-height: 300px;
}

.financing-repurchase-container .ant-table-wrapper {
  max-height: 240px;
}

.financing-repurchase-pagination{
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
}

.export {
  display: flex;
}

.add-role-form .ant-form-item {
  margin-bottom: 8px;
}

.add-role-form {
  justify-content: space-between;
}

.add-role-form .del-text {
  color: red;
}