/* *{
  font-size: 12px !important;
} */

/* .financing-repurchase-container{
  display: flex;
  flex:1;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  max-height: 300px;
}

.financing-repurchase-container .ant-table-wrapper {
  max-height: 240px;
} */

.financing-repurchase-pagination{
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
}

.export {
  display: flex;
}

.add-bizdict-form .ant-form-item {
  margin-bottom: 8px;
}

.add-bizdict-form .ant-form-item-label>label, .add-bizdict-form .ant-input, .add-bizdict-form .ant-btn > span, .add-bizdict-form .ant-select {
  font-size: 12px;
}