.table th {
  font-weight: 600 !important;
}

.table th, .table td {
  color: rgb(96, 98, 102) !important;
  font-size: 8px !important;
}

.table thead th{
  /* background: rgb(245,247,250) !important; */
  background: #eef1f6 !important;
  text-align: center !important;
}

.table td{
  padding: 0px 6px !important;
  line-height: 26px !important;
}

.table {
  flex:1 !important;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
}

.table .ant-checkbox-inner{
  width: 14px;
  height: 14px;
}

.table .ant-checkbox{
  top: 1px;
}
